<div class="layout-boxed">


    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">


                <!-- Content area -->
                <div class="content">

                    <!-- Account settings panel -->
                    <div class="panel clickable panel-flat">
                        <div class="first_level panel-heading">
                            <div class="heading-elements left">
                                <ul class="icons-list">
                                    <li><a data-action="collapse"></a></li>
                                </ul>
                            </div>
                            <h5 class="panel-title with_elements">My Account Module</h5>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-9">
                                    <!-- Profile info -->
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Profile information</h6>
                                            <div class="heading-elements">
                                                <ul class="icons-list">
                                                    <li><a data-action="collapse"></a></li>
                                                    <li><a data-action="reload"></a></li>
                                                    <li><a data-action="close"></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="panel-body">
                                            <form action="#">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <label>Username</label>
                                                            <input type="text" value="Eugene" class="form-control">
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <label>Full name</label>
                                                            <input type="text" value="Kopyov" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <label>Address line 1</label>
                                                            <input type="text" value="Ring street 12"
                                                                   class="form-control">
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <label>Address line 2</label>
                                                            <input type="text" value="building D, flat #67"
                                                                   class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <label>City</label>
                                                            <input type="text" value="Munich" class="form-control">
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <label>State/Province</label>
                                                            <input type="text" value="Bayern" class="form-control">
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <label>ZIP code</label>
                                                            <input type="text" value="1031" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <label>Email</label>
                                                            <input type="text" readonly="readonly"
                                                                   value="eugene@kopyov.com"
                                                                   class="form-control">
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <label>Your country</label>
                                                            <select class="select">
                                                                <option value="germany" selected="selected">Germany
                                                                </option>
                                                                <option value="france">France</option>
                                                                <option value="spain">Spain</option>
                                                                <option value="netherlands">Netherlands</option>
                                                                <option value="other">...</option>
                                                                <option value="uk">United Kingdom</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <label>Phone #</label>
                                                            <input type="text" value="+99-99-9999-9999"
                                                                   class="form-control">
                                                            <span class="help-block">+99-99-9999-9999</span>
                                                        </div>

                                                        <div class="col-xs-6">
                                                            <label class="display-block">Upload profile image</label>
                                                            <input type="file" class="file-styled">
                                                            <span class="help-block">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="text-right hidden">
                                                    <button type="submit" class="btn btn-primary">Save <i
                                                            class="icon-arrow-right14 position-right"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /profile info -->


                                    <!-- Account settings -->
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Account login</h6>
                                            <div class="heading-elements">
                                                <ul class="icons-list">
                                                    <li><a data-action="collapse"></a></li>
                                                    <li><a data-action="reload"></a></li>
                                                    <li><a data-action="close"></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="panel-body">
                                            <form action="#">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <label>Username</label>
                                                            <input type="text" value="Kopyov" readonly="readonly"
                                                                   class="form-control">
                                                        </div>

                                                        <div class="col-xs-6">
                                                            <label>Current password</label>
                                                            <input type="password" value="password" readonly="readonly"
                                                                   class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <label>New password</label>
                                                            <input type="password" placeholder="Enter new password"
                                                                   class="form-control">
                                                        </div>

                                                        <div class="col-xs-6">
                                                            <label>Repeat password</label>
                                                            <input type="password" placeholder="Repeat new password"
                                                                   class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <label>Profile visibility</label>

                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="visibility" class="styled"
                                                                           checked="checked">
                                                                    Visible to everyone
                                                                </label>
                                                            </div>

                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="visibility"
                                                                           class="styled">
                                                                    Visible to friends only
                                                                </label>
                                                            </div>

                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="visibility"
                                                                           class="styled">
                                                                    Visible to my connections only
                                                                </label>
                                                            </div>

                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="visibility"
                                                                           class="styled">
                                                                    Visible to my colleagues only
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-6">
                                                            <label>Notifications</label>

                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" class="styled"
                                                                           checked="checked">
                                                                    Password expiration notification
                                                                </label>
                                                            </div>

                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" class="styled"
                                                                           checked="checked">
                                                                    New message notification
                                                                </label>
                                                            </div>

                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" class="styled"
                                                                           checked="checked">
                                                                    New task notification
                                                                </label>
                                                            </div>

                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" class="styled">
                                                                    New contact request notification
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="text-right">
                                                    <button type="submit" class="btn btn-primary">Save <i
                                                            class="icon-arrow-right14 position-right"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /account settings -->
                                </div>
                                <div class="col-lg-3">
                                    <!-- Connections -->
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Team EDM</h6>
                                            <div class="heading-elements">
                                                <span class="badge badge-success heading-text">2</span>
                                            </div>
                                        </div>

                                        <ul class="media-list media-list-linked pb-5">
                                            <li class="media-header">My team</li>

                                            <li class="media">
                                                <a href="#" class="media-link">
                                                    <div class="media-left"><img src="assets/images/james.jpg"
                                                                                 class="img-circle" alt=""></div>
                                                    <div class="media-body">
                                                        <span class="media-heading text-semibold">James Alexander</span>
                                                        <span class="media-annotation">Administrator</span>
                                                    </div>
                                                    <div class="media-right media-middle">
                                                        <i class="icon-medal"></i>
                                                    </div>
                                                </a>
                                            </li>

                                            <li class="media">
                                                <a href="#" class="media-link">
                                                    <div class="media-left"><img src="assets/images/pp01.jpg"
                                                                                 class="img-circle" alt=""></div>
                                                    <div class="media-body">
                                                        <span class="media-heading text-semibold">Jeremy Victorino</span>
                                                        <span class="media-annotation">Senior designer</span>
                                                    </div>
                                                    <div class="media-right media-middle">

                                                    </div>
                                                </a>
                                            </li>


                                            <li class="media-header">My clients</li>

                                            <li class="media">
                                                <a href="#" class="media-link">
                                                    <div class="media-left"><img src="assets/images/pp02.jpg"
                                                                                 class="img-circle" alt=""></div>
                                                    <div class="media-body">
                                                        <span class="media-heading text-semibold">Margo Baker</span>
                                                        <span class="media-annotation">'16 Jan 1st - '16 Mar 3rd</span>
                                                    </div>
                                                </a>
                                            </li>

                                            <li class="media">
                                                <a href="#" class="media-link">
                                                    <div class="media-left"><img src="assets/images/pp03.jpg"
                                                                                 class="img-circle" alt=""></div>
                                                    <div class="media-body">
                                                        <span class="media-heading text-semibold">Beatrix Diaz</span>
                                                        <span class="media-annotation">'15 Feb 5th - '16 Jan 13th</span>
                                                    </div>
                                                </a>
                                            </li>

                                            <li class="media">
                                                <a href="#" class="media-link">
                                                    <div class="media-left"><img src="assets/images/pp04.jpg"
                                                                                 class="img-circle" alt=""></div>
                                                    <div class="media-body">
                                                        <span class="media-heading text-semibold">Richard Vango</span>
                                                        <span class="media-annotation">'15 Aug 6th - '15 Oct 20th</span>
                                                    </div>

                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /connections -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Account settingspanel -->

                    <!-- Company settings panel -->
                    <div class="panel clickable panel-flat">
                        <div class="first_level panel-heading">
                            <div class="heading-elements left">
                                <ul class="icons-list">
                                    <li><a data-action="collapse"></a></li>
                                </ul>
                            </div>
                            <h5 class="panel-title with_elements">EDM Co.</h5>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <!-- Collapsible lists -->
                                <div class="row">

                                    <!-- Collapsible list -->
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">EDM Production Team</h5>
                                            <div class="heading-elements">
                                                <ul class="icons-list">
                                                    <li><a data-action="close"></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <ul class="media-list media-list-linked">
                                            <li class="media-header">My team</li>

                                            <li class="media">
                                                <div class="media-link cursor-pointer" data-toggle="collapse"
                                                     data-target="#james">
                                                    <div class="media-left"><img src="assets/images/pp01.jpg"
                                                                                 class="img-circle" alt=""></div>
                                                    <div class="media-body">
                                                        <div class="media-heading text-semibold">Jeremy Victorino</div>
                                                        <span class="text-muted">Spotify</span>
                                                    </div>
                                                    <div class="media-right media-middle text-nowrap">
                                                        <i class="icon-menu7 display-block"></i>
                                                    </div>
                                                </div>

                                                <div class="collapse" id="james">
                                                    <div class="contact-details">
                                                        <ul class="list-extended list-unstyled list-icons"
                                                            style="width: 70%;float: left;">
                                                            <li><i class="icon-pin position-left"></i> Hague</li>
                                                            <li><i class="icon-user-tie position-left"></i> Network
                                                                engineer
                                                            </li>
                                                            <!-- Collapsible lists -->
                                                            <li><i class="icon-phone position-left"></i> +1(389)384 9039
                                                            </li>
                                                            <li><i class="icon-mail5 position-left"></i> <a href="#">jeremy@victorino.com</a>
                                                            </li>
                                                        </ul>
                                                        <ul class="list-extended list-unstyled list-icons"
                                                            style="width: 30%;float:left">
                                                            <div class="checkbox checkbox-switch">
                                                                <label>
                                                                    <input type="checkbox" data-on-color="danger"
                                                                           data-off-color="primary"
                                                                           data-on-text="Enable"
                                                                           data-off-text="Disable" class="switch"
                                                                           checked="checked">
                                                                </label>
                                                            </div>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="media">
                                                <div class="media-link cursor-pointer" data-toggle="collapse"
                                                     data-target="#jeremy">
                                                    <div class="media-left"><img src="assets/images/pp02.jpg"
                                                                                 class="img-circle" alt=""></div>
                                                    <div class="media-body">
                                                        <div class="media-heading text-semibold">Jeremy Victorino</div>
                                                        <span class="text-muted">Spotify</span>
                                                    </div>
                                                    <div class="media-right media-middle text-nowrap">
                                                        <i class="icon-menu7 display-block"></i>
                                                    </div>
                                                </div>

                                                <div class="collapse" id="jeremy">
                                                    <div class="contact-details">
                                                        <ul class="list-extended list-unstyled list-icons">
                                                            <li><i class="icon-pin position-left"></i> Hague</li>
                                                            <li><i class="icon-user-tie position-left"></i> Network
                                                                engineer
                                                            </li>
                                                            <!-- Collapsible lists -->
                                                            <li><i class="icon-phone position-left"></i> +1(389)384 9039
                                                            </li>
                                                            <li><i class="icon-mail5 position-left"></i> <a href="#">jeremy@victorino.com</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="media">
                                                <div class="media-link cursor-pointer" data-toggle="collapse"
                                                     data-target="#margo">
                                                    <div class="media-left"><img src="assets/images/pp03.jpg"
                                                                                 class="img-circle" alt=""></div>
                                                    <div class="media-body">
                                                        <div class="media-heading text-semibold">Margo Baker</div>
                                                        <span class="text-muted">eBay</span>
                                                    </div>
                                                    <div class="media-right media-middle text-nowrap">
                                                        <i class="icon-menu7 display-block"></i>
                                                    </div>
                                                </div>

                                                <div class="collapse" id="margo">
                                                    <div class="contact-details">
                                                        <ul class="list-extended list-unstyled list-icons"
                                                            style="width: 70%; float:left">
                                                            <li><i class="icon-pin position-left"></i> Dublin</li>
                                                            <li><i class="icon-user-tie position-left"></i> Marketing
                                                                expert
                                                            </li>
                                                            <li><i class="icon-phone position-left"></i> +3(431)589 3889
                                                            </li>
                                                            <li><i class="icon-mail5 position-left"></i> <a href="#">margo@baker.com</a>
                                                            </li>
                                                        </ul>
                                                        <ul class="list-extended list-unstyled list-icons"
                                                            style="width: 30%;float:left">
                                                            <button type="submit" class="btn btn-primary">Activate<i
                                                                    class="icon-arrow-right14 position-right"></i>
                                                            </button>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </li>

                                            <li class="media">
                                                <div class="media-link cursor-pointer" data-toggle="collapse"
                                                     data-target="#monica">
                                                    <div class="media-left"><img src="assets/images/pp04.jpg"
                                                                                 class="img-circle" alt=""></div>
                                                    <div class="media-body">
                                                        <div class="media-heading text-semibold">Monica Smith</div>
                                                        <span class="text-muted">Amazon</span>
                                                    </div>
                                                    <div class="media-right media-middle text-nowrap">
                                                        <i class="icon-menu7 display-block"></i>
                                                    </div>
                                                </div>

                                                <div class="collapse" id="monica">
                                                    <div class="contact-details">
                                                        <ul class="list-extended list-unstyled list-icons">
                                                            <li><i class="icon-pin position-left"></i> Paris</li>
                                                            <li><i class="icon-user-tie position-left"></i> Web master
                                                            </li>
                                                            <li><i class="icon-phone position-left"></i> +5(342)543 2367
                                                            </li>
                                                            <li><i class="icon-mail5 position-left"></i> <a href="#">monica@smith.com</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                        <!-- /collapsible list -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Company settingspanel -->

                        <!-- Footer -->
                        <div class="footer text-muted text-center">
                            &copy; 2016. <a href="#">ERM</a> by <a href="http://superbappsolutions.com"
                                                                   target="_blank">Superbappsolutions.com</a>
                        </div>
                        <!-- /footer -->

                    </div>
                    <!-- /comp settings panel-->

                    <!-- System admin panel -->
                    <div class="panel clickable panel-flat">
                        <div class="first_level panel-heading">
                            <div class="heading-elements left">
                                <ul class="icons-list">
                                    <li><a data-action="collapse"></a></li>
                                </ul>
                            </div>
                            <h5 class="panel-title with_elements">System admin</h5>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <!-- Collapsible lists -->
                                <div class="row">

                                    <!-- Collapsible list -->
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">EDM Production Team</h5>
                                            <div class="heading-elements">
                                                <ul class="icons-list">
                                                    <li><a data-action="close"></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <ul class="media-list media-list-linked">
                                            <li class="media-header">My team</li>

                                            <li class="media">
                                                <div class="media-link cursor-pointer" data-toggle="collapse"
                                                     data-target="#sys-james">
                                                    <div class="media-left"><img src="assets/images/pp01.jpg"
                                                                                 class="img-circle" alt=""></div>
                                                    <div class="media-body">
                                                        <div class="media-heading text-semibold">Jeremy Victorino</div>
                                                        <span class="text-muted">Spotify</span>
                                                    </div>
                                                    <div class="media-right media-middle text-nowrap">
                                                        <i class="icon-menu7 display-block"></i>
                                                    </div>
                                                </div>

                                                <div class="collapse" id="sys-james">
                                                    <div class="contact-details">
                                                        <ul class="list-extended list-unstyled list-icons"
                                                            style="width: 70%;float: left;">
                                                            <li><i class="icon-pin position-left"></i> Hague</li>
                                                            <li><i class="icon-user-tie position-left"></i> Network
                                                                engineer
                                                            </li>
                                                            <!-- Collapsible lists -->
                                                            <li><i class="icon-phone position-left"></i> +1(389)384 9039
                                                            </li>
                                                            <li><i class="icon-mail5 position-left"></i> <a href="#">jeremy@victorino.com</a>
                                                            </li>
                                                        </ul>
                                                        <ul class="list-extended list-unstyled list-icons"
                                                            style="width: 30%;float:left">
                                                            <div class="checkbox checkbox-switch">
                                                                <label>
                                                                    <input type="checkbox" data-on-color="danger"
                                                                           data-off-color="primary"
                                                                           data-on-text="Enable"
                                                                           data-off-text="Disable" class="switch"
                                                                           checked="checked">
                                                                </label>
                                                            </div>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="media">
                                                <div class="media-link cursor-pointer" data-toggle="collapse"
                                                     data-target="#sys-jeremy">
                                                    <div class="media-left"><img src="assets/images/pp02.jpg"
                                                                                 class="img-circle" alt=""></div>
                                                    <div class="media-body">
                                                        <div class="media-heading text-semibold">Jeremy Victorino</div>
                                                        <span class="text-muted">Spotify</span>
                                                    </div>
                                                    <div class="media-right media-middle text-nowrap">
                                                        <i class="icon-menu7 display-block"></i>
                                                    </div>
                                                </div>

                                                <div class="collapse" id="sys-jeremy">
                                                    <div class="contact-details">
                                                        <ul class="list-extended list-unstyled list-icons">
                                                            <li><i class="icon-pin position-left"></i> Hague</li>
                                                            <li><i class="icon-user-tie position-left"></i> Network
                                                                engineer
                                                            </li>
                                                            <!-- Collapsible lists -->
                                                            <li><i class="icon-phone position-left"></i> +1(389)384 9039
                                                            </li>
                                                            <li><i class="icon-mail5 position-left"></i> <a href="#">jeremy@victorino.com</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="media">
                                                <div class="media-link cursor-pointer" data-toggle="collapse"
                                                     data-target="#sys-margo">
                                                    <div class="media-left"><img src="assets/images/pp03.jpg"
                                                                                 class="img-circle" alt=""></div>
                                                    <div class="media-body">
                                                        <div class="media-heading text-semibold">Margo Baker</div>
                                                        <span class="text-muted">eBay</span>
                                                    </div>
                                                    <div class="media-right media-middle text-nowrap">
                                                        <i class="icon-menu7 display-block"></i>
                                                    </div>
                                                </div>

                                                <div class="collapse" id="sys-margo">
                                                    <div class="contact-details">
                                                        <ul class="list-extended list-unstyled list-icons"
                                                            style="width: 70%; float:left">
                                                            <li><i class="icon-pin position-left"></i> Dublin</li>
                                                            <li><i class="icon-user-tie position-left"></i> Marketing
                                                                expert
                                                            </li>
                                                            <li><i class="icon-phone position-left"></i> +3(431)589 3889
                                                            </li>
                                                            <li><i class="icon-mail5 position-left"></i> <a href="#">margo@baker.com</a>
                                                            </li>
                                                        </ul>
                                                        <ul class="list-extended list-unstyled list-icons"
                                                            style="width: 30%;float:left">
                                                            <button type="submit" class="btn btn-primary">Activate<i
                                                                    class="icon-arrow-right14 position-right"></i>
                                                            </button>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </li>

                                            <li class="media">
                                                <div class="media-link cursor-pointer" data-toggle="collapse"
                                                     data-target="#sys-monica">
                                                    <div class="media-left"><img src="assets/images/pp04.jpg"
                                                                                 class="img-circle" alt=""></div>
                                                    <div class="media-body">
                                                        <div class="media-heading text-semibold">Monica Smith</div>
                                                        <span class="text-muted">Amazon</span>
                                                    </div>
                                                    <div class="media-right media-middle text-nowrap">
                                                        <i class="icon-menu7 display-block"></i>
                                                    </div>
                                                </div>

                                                <div class="collapse" id="sys-monica">
                                                    <div class="contact-details">
                                                        <ul class="list-extended list-unstyled list-icons">
                                                            <li><i class="icon-pin position-left"></i> Paris</li>
                                                            <li><i class="icon-user-tie position-left"></i> Web master
                                                            </li>
                                                            <li><i class="icon-phone position-left"></i> +5(342)543 2367
                                                            </li>
                                                            <li><i class="icon-mail5 position-left"></i> <a href="#">monica@smith.com</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                        <!-- /collapsible list -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Company settingspanel -->

                        <!-- Footer -->
                        <div class="footer text-muted text-center">
                            &copy; 2016. <a href="#">ERM</a> by <a href="http://superbappsolutions.com"
                                                                   target="_blank">Superbappsolutions.com</a>
                        </div>
                        <!-- /footer -->

                    </div>
                    <!-- /system admin area -->


                </div>
                <!-- /main content -->

            </div>
            <!-- /page content -->

        </div>
        <!-- /page container -->
    </div>
</div>