    <tbody>
    <% _.each(collection, function(marketing,i){ %>
        <tr>
            <td><a class="select_item" data-index="<%= i %>"><%= marketing.get('offer').event_id %></a></td>
        </tr>
    <% }); %>

    </tbody>