<form class="edit account_info" action="#" data-model="user" data-id="<%= id %>">

	<div class="form-group">
		<div class="row">
			<label class="col-xs-6">Offer Event ID<input name="event_id" disabled type="text"
													   value="<%= event_id %>"
													   class="form-control">
			</label>
		</div>
	</div>

	<button type="button" style="display: none;" class="btn btn-xs btn-danger delete">Delete This Offer</button>
</form>
