<form class="edit account_info" action="#" data-model="user" data-id="<%= id %>">

	<div class="form-group">
		<div class="row">
			<label class="col-xs-6">Settlement ID <input name="settlement_id" disabled type="text"
													 value="<%= settlement_id %>" class="form-control">
			</label>
		</div>
	</div>
	<h4 class="text-center row">Show Info</h4>



	<button type="button" style="display: none;" class="btn btn-xs btn-danger delete">Delete This Settlement</button>
</form>
